[project]
name = "datasette-extract"
version = "0.1a0"
description = "Import unstructured data (text and images) into structured tables"
readme = "README.md"
authors = [{name = "Simon Willison"}]
license = {text = "Apache-2.0"}
classifiers=[
    "Framework :: Datasette",
    "License :: OSI Approved :: Apache Software License"
]
requires-python = ">=3.8"
dependencies = [
    "datasette>=1.0a12",
    "sqlite-utils",
    "openai>=1.0",
    "ijson",
    "ulid",
    "starlette",
]

[project.urls]
Homepage = "https://github.com/datasette/datasette-extract"
Changelog = "https://github.com/datasette/datasette-extract/releases"
Issues = "https://github.com/datasette/datasette-extract/issues"
CI = "https://github.com/datasette/datasette-extract/actions"

[project.entry-points.datasette]
extract = "datasette_extract"

[project.optional-dependencies]
test = ["pytest", "pytest-asyncio"]

[tool.setuptools.packages.find]
where = ["."]

[tool.pytest.ini_options]
asyncio_mode = "strict"

[tool.setuptools.package-data]
datasette_extract = ["static/*", "templates/*"]
